

@include media-breakpoint-down(sm) { 
  .display-4{
    font-size: 42px;
  line-height: 50px;
  }
 }
 @include media-breakpoint-down(sm) { 
  .mainbutton{
    width:12rem ;
     height: 2rem;
    margin-left: 6rem;
    text-align: center;
  }
 }
 @include media-breakpoint-down(sm) { 
  .mainsmall{
    margin-left: 4rem;
   
  }
 }

.cardbox:hover{
  box-shadow:  0.1875rem  0.1875rem 0.3125rem  0.375rem #ccc;
  border-top:1px solid #0057FF !important;

}



.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link:active
{
  background-color: #F5F5F5;
  border-radius: 1.125rem;
  color:#0057FF !important ;
   
}
.display-4{
  font-family: 'Montserrat' ;
}
.head2{
   line-height: 3rem;
}
.head4{
  line-height: 2.25rem;
  font-family: 'Montserrat';
}
.carouselindi{
  bottom: -5rem;
}
.small{
  line-height:1.125 !important;
  font-weight:400 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-left:1px solid #0057FF ; 
}
*{
  box-sizing: border-box;
}

@mixin border($top,$nature,$color) {
 border-top:$top $nature $color;
 border-left:$top $nature $color;
 border-right:$top $nature $color; 
}

.imgtop{
@include border(1.25rem,solid,#015C90);
  
}

.imgto{
  @include border(1.25rem,solid ,#553E6C);
}
.imgt{
  @include border(1.25rem,solid , #2C624A);
 
}
.imgg{
  @include border(1.25rem, solid,#4750A4);
  
}
// .rightangle{
//   height:1rem;
  
// }
// .fa-long-arrow-alt-right {
//   height: 2rem;
// }

.caps{
  line-height: 1.25rem;
  font-weight:600;
  color:#1D1D1D;
}