// $background:#F5F5F5;
// .brands{
//     background-color:$background;
//    padding:3rem 0;
// }
// .carousel-indicators .indi {
//     border-radius: 50%;
//   }

//  .nav-link:active,.navlink.active {
//     background-color: rgba(0, 87, 255, 0.1);
//     border-radius: 18px;
   
//   }
//   .fa-angle-down:active,.fa-angle-down.active{
//     transform: rotate(180deg);
//   }
#build{
  line-height: 2.25rem!important;
}
.main-heading{
  line-height:4.2rem !important;
  font-size:3.5rem !important;
}

@include media-breakpoint-down(sm) { 
  .main-heading{
    line-height: 2.5rem !important;
    font-size:1.5rem !important;
  }
 }

.cardbox :hover{
  box-shadow:  0.1875rem  0.1875rem 0.3125rem  0.375rem #ccc;
  border-top:1px solid #0057FF;

}



.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link:active
{
  background-color: #F5F5F5;
  border-radius: 1.125rem;
  color:#0057FF !important ;
   
}

