

@include media-breakpoint-down(sm) { 
  .display-4{
    line-height: 2.5rem !important;
    font-size:1.5rem !important;
  }
 }

.cardbox:hover{
  box-shadow:  0.1875rem  0.1875rem 0.3125rem  0.375rem #ccc;
  border-top:1px solid #0057FF !important;

}



.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link:active
{
  background-color: #F5F5F5;
  border-radius: 1.125rem;
  color:#0057FF !important ;
   
}
.display-4{
  font-family: 'Montserrat' ;
}
.head2{
   line-height: 3rem;
}
.head4{
  line-height: 2.25rem;
  font-family: 'Montserrat';
}
.carouselindi{
  bottom: -5rem;
}
.small{
  line-height:1.125 !important;
  font-weight:400 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-left:1px solid #0057FF ; 
}
*{
  box-sizing: border-box;
}
